<div class="select-container">
    <input #input [placeholder]="placeholder" [(ngModel)]="qureyString" (focus)="isDropdown = true"
        (click)="isDropdown = true;$event.stopPropagation()">
    <div *ngIf="isDropdown" class="main-selector">
        <div *ngFor="let item of filteredItems" (click)="handleClick(item[bindValue])">
            <!-- {{item[bindLabel]}} -->
            {{deepValue(item,bindLabel)}}
        </div>
        <div *ngIf="filteredItems.length < 1" class="disable">{{msg}}</div>
    </div>
    <div class="icon close" (click)="handelClose();$event.stopPropagation()" [class]="{active: isDropdown}"></div>
    <div class="icon down" (click)="isDropdown = true;$event.stopPropagation()" [class]="{active: !isDropdown}"></div>
</div>