@import "../../../styles/theme.scss";

.bus {
    position: relative;
}
li {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 30px;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: #e0e0e0;
        border-radius: 24px;
    }
}
#button_update {
    padding: 5px;
    height: 23px;
    &:hover {
        background-color: $button_update;
    }
}
#space {
    flex-grow: 5;
    display: block;
    border-bottom: 1px #808080;
}

#time {
    font-size: 10px;
}
#order {
    display: inline-flex;
    width: 20px;
    justify-content: center;
}
#status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 85px;
    background-color: $button_default;
    color: #fff;
    color: $MainDarkGray;
    border: 1px solid $MainDarkGray;
    border-radius: 14px;
    &.arriving,
    &.coming,
    &.in-minutes {
        color: #fff;
        border: none;
    }
    &.arriving {
        background-color: $button_arriving;
    }
    &.coming {
        background-color: $button_coming;
    }
    &.in-minutes {
        background-color: $button_in_minutes;
    }
}

button {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 45%;
    min-width: 150px;
    border: none;
    background-color: $button_default;
    color: #fff;
    border-radius: 25px;
    font-size: 1.17em;

    &.big {
        background-color: $button_default_big;
    }
    &.active {
        background-color: $button_active;
    }

    &:hover {
        -webkit-filter: brightness(105%);
    }
}

.departureAndDestination {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
    margin-bottom: 15px;
}
.ptx {
    justify-content: center;
    span,
    span a {
        color: $SystemMidGray;
    }
}

.items.main-label {
    color: $PrimaryColor;
    font-size: 18px;
}
.ptx-logo {
    height: 100%;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../../assets/images/PTX_logo淺背景使用.png");
}
