<div class="departureAndDestination">
  <button
    (click)="changeDir('0')"
    [ngClass]="{ active: direction === '0', big: true }">
    往 {{ destination }}
  </button>
  <button
    (click)="changeDir('1')"
    [ngClass]="{ active: direction === '1', big: true }">
    往 {{ departure }}
  </button>
</div>

<li id="button_update" (click)="update()">
  <span>共 {{ stops.length }} 站</span><span id="space"></span
  ><span class="caption13">{{ time / 1000 }} 秒後更新</span>
</li>
<li *ngFor="let stop of stops; index as i" (click)="liOnClick(stop)">
  <span>
    <span id="order"> {{ stop['StopSequence'] }}</span>
    {{ stop['StopName']['Zh_tw'] }}
  </span>
  <span id="status" [class]="stop.Status">
    {{ stop['Estimates'] }}
    {{ stop['NextBusTime'] | date: 'H:mm' }}
  </span>
</li>
<a href="https://ptx.transportdata.tw/PTX/">
  <li class="ptx caption13">
    <span>資料來源：公共運輸整合資訊流通服務平臺 / </span>
    <div class="ptx-logo"></div>
  </li>
</a>
