<h3>公車路線</h3>
<div class="bus">
  <div *ngIf="0 || width > 768">
    <ng-select
      [items]="bus$ | async"
      bindLabel="RouteName.Zh_tw"
      bindValue="RouteUID"
      [(ngModel)]="selectedBus"
      (change)="selectedBusChange()">
    </ng-select>
  </div>
  <div *ngIf="1 && width < 768" class="city-container">
    <app-main-select
      msg="無此公車。"
      [items]="bus$ | async"
      bindLabel="RouteName.Zh_tw"
      bindValue="RouteUID"
      [(ngModel)]="selectedBus"
      (change)="selectedBusChange()"
      placeholder="例如：300"
      inputmode="numeric"
      subLabel="DepartureStopNameZh + ' - ' + DestinationStopNameZh">
    </app-main-select>
  </div>
</div>

<app-stops> </app-stops>
