<div class="app-container">
    <div class="select-container" [ngClass]="change ? 'inactive' : '' ">
        <a (click)=" refresh()" routerLink="/" class="nav">
            <h2>台灣公車即時動態</h2><span><img src="assets/images/bus.png" alt="busIcon"> </span>
        </a>

        <app-cities></app-cities>
    </div>
    <div class="map-container" [ngClass]="!change ? 'inactive' : ''  ">
        <app-map></app-map>
    </div>
    <button class="change" (click)="handleChange()">
        <span class="change-img"></span>
    </button>
</div>